<div class="row">
    <div class="col">
        <div class="card border-dark mb-3">
            <div class="card-header">Change Password</div>
            <div class="card-body text-dark">
                <div class="card-text">
                    <form [formGroup]="passwordForm"
                    (ngSubmit)="onFormSubmit()">
                        <div class="form-row">
                         
                          <div class="col-md-5 mb-3">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" id="password"  formControlName= "password" required>
                            <div class="invalid-feedback">
                              Please choose a username.
                            </div>
                          </div>
                        </div>
                     
                        <div class="form-row">
                            <div class="col-md-5 mb-3">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirmPassword"  formControlName= "confirmPassword" required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div>                            
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-link">Cancel</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>


