<div class="card  border-dark mb-3">
    <div class="card-header">
      FORGOT USERNAME & PASSWORD
    </div>
    <div class="container">
        <div class="alert alert-warning" *ngIf='alertMessage'>{{alertMessage}}</div>
    <div class="card-body">
        <form [formGroup]="forgotForm" (ngSubmit)="handleSubmit()">
            <div class="form-group">
              <label for="email">Username</label>
              <input type="text" class="form-control" id="email" placeholder="email" formControlName="toAddress"
              [ngClass]="getControlValidationClasses(emailControl)">
              <div class="valid-feedback" *ngIf="emailControl.valid">
                Looks good!
              </div>
              <div class="invalid-feedback" *ngIf="emailControl.touched && emailControl.errors?.required">
                This field is required
              </div>
              <div class="invalid-feedback" *ngIf="emailControl.touched && emailControl.errors?.email">
               It should be email
              </div>
            </div>  
            <div class="bottom">
                <button class="btn btn-primary" type="submit" [disabled] = "!forgotForm.valid"
                >Submit</button>
                <span class="forgot"><a routerLink="/login">Return to Login Page</a></span>
            </div>
        </form>
    </div>
   
  </div>