<div class="container">
    <div class="row">
        <h1>Welcome To Nagarro Travel Portal</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Admin</h5>
                  <p class="card-text">Admin can see all users' ticket requests, review, approve or reject them.</p>
                  <a routerLink="admin/login" class="btn btn-primary">Admin Login</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">User</h5>
                  <p class="card-text">User can raise and manage their ticket requests.</p>
                  <a routerLink="login" class="btn btn-primary">User Login</a>
                </div>
              </div>
        </div>
    </div>
</div>
