<div class="row">
  <input type="text" class="form-control" placeholder="Search Text" [(ngModel)]="searchText">
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Ticke ID</th>
        <th scope="col">Request Type</th>
        <th scope="col">Submitted Date</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of ticketRequests | filter:searchText | paginate: {itemsPerPage: 5, currentPage: page}">
        <th scope="row">{{ticket.ticketRequestId}}</th>
        <td>{{ticket.requestType}}</td>
        <td>{{ticket.dateCreated | date}}</td>
        <td>{{ticket.status}}</td>
        <td>

            <span *ngIf="ticket.status == 'SUBMITTED'" class="edit" (click)="editTicket(ticket)">
                <i class="far fa-edit"></i>
            </span>
            <span *ngIf="ticket.status == 'APPROVED'" class="edit" (click)="getDetails(ticket)">
              <button class="btn btn-link">See Details</button>
          </span>

        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class= "pageno" (pageChange)="page = $event"></pagination-controls>