<div class="row">
    <div class="col">
        <div class="card border-dark mb-3">
            <div class="card-header">User Registration</div>
            <div class="card-body text-dark">
                <div class="card-text">
                    <form [formGroup]="userForm"
                    (ngSubmit)="onFormSubmit()">
                        <div class="form-row">
                          <div class="col-md-4 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" formControlName= "firstName"
                            [ngClass]="getControlValidationClasses(firstNameControl)">
                            <div class="invalid-feedback" *ngIf="firstNameControl.touched && firstNameControl.errors?.required">
                              This field is required
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName"  formControlName= "lastName"
                            [ngClass]="getControlValidationClasses(lastNameControl)">
                            <div class="invalid-feedback" *ngIf="lastNameControl.touched && lastNameControl.errors?.required">
                              This field is required
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="email">Username</label>
                            <input type="text" class="form-control" id="email" formControlName= "email"
                            [ngClass]="getControlValidationClasses(emailControl)">
                            <div class="invalid-feedback" *ngIf="emailControl.touched && emailControl.errors?.required">
                              This field is required
                            </div>
                            <div class="invalid-feedback" *ngIf="emailControl.touched && emailControl.errors?.pattern">
                              only @nagarro.com is allowed
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title"  formControlName= "title"
                                [ngClass]="getControlValidationClasses(titleControl)">
                                <div class="invalid-feedback" *ngIf="titleControl.touched && titleControl.errors?.required">
                                  This field is required
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="businessUnit">Business Unit</label>
                                <input type="text" class="form-control" id="businessUnit"  formControlName= "businessUnit" 
                                [ngClass]="getControlValidationClasses(businessUnitControl)">
                                <div class="invalid-feedback" *ngIf="businessUnitControl.touched && businessUnitControl.errors?.required">
                                  This field is required
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="telephone">Telephone</label>
                                <input type="text" class="form-control" id="telephone"  formControlName= "telephone" 
                                [ngClass]="getControlValidationClasses(telephoneControl)">
                                <div class="invalid-feedback" *ngIf="telephoneControl.touched && telephoneControl.errors?.required">
                                  This field is required
                                </div>
                                <div class="invalid-feedback" *ngIf="telephoneControl.touched && telephoneControl.hasError('minlength')">
                                  Min. Length is 10
                                </div>
                                <div class="invalid-feedback" *ngIf="telephoneControl.touched && telephoneControl.hasError('maxlength')">
                                  Max. Length is 15
                                </div>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="address1">Address 1</label>
                                <input type="text" class="form-control" id="address1"  formControlName= "address1" 
                                [ngClass]="getControlValidationClasses(address1Control)">
                                <div class="invalid-feedback" *ngIf="address1Control.touched && address1Control.errors?.required">
                                  This field is required
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="address2">Address 2</label>
                                <input type="text" class="form-control" id="address2" formControlName= "address2" placeholder="Optional">
                                
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city"  formControlName= "city" 
                                [ngClass]="getControlValidationClasses(cityControl)">
                                <div class="invalid-feedback" *ngIf="cityControl.touched && cityControl.errors?.required">
                                  This field is required
                                </div>
                              </div>
                        </div>
                        <div class="form-row">

                          <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select" id="state"  formControlName= "state" 
                            [ngClass]="getControlValidationClasses(stateControl)">
                              <option selected disabled value="">Choose...</option>
                              <option>Punjab</option>
                              <option>Haryana</option>
                              <option>Himachal Pradesh</option>
                              <option>Uttar Pradesh</option>
                              <option>Rajasthan</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="stateControl.touched && stateControl.errors?.required">
                              This field is required
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip"  formControlName= "zip" 
                            [ngClass]="getControlValidationClasses(zipControl)">
                            <div class="invalid-feedback" *ngIf="zipControl.touched && zipControl.errors?.required">
                              This field is required
                            </div>
                          </div>

                          <div class="col-md-4 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select" id="country"  formControlName= "country" 
                            [ngClass]="getControlValidationClasses(countryControl)">
                                <option selected disabled value="">Choose...</option>
                                <option>India</option>
                                <option>U.S.A</option>
                                <option>China</option>
                                <option>Australia</option>
                                <option>Germany</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="countryControl.touched && countryControl.errors?.required">
                              This field is required
                            </div>
                          </div>
                        </div>
                        
                        <button class="btn btn-primary" type="submit" [disabled] = "!userForm.valid">Submit</button>
                        <button class="btn btn-link">Cancel</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>


