<div class="row">
    <div class="col">
        <div class="card border-dark mb-3">
            <div class="card-header">User Registration</div>
            <div class="card-body text-dark">
                <div class="card-text">
                    <form [formGroup]="userForm"
                    (ngSubmit)="onFormSubmit()">
                        <div class="form-row">
                          <div class="col-md-4 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" formControlName= "firstName" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName"  formControlName= "lastName" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="email">Username</label>
                            <input type="text" class="form-control" id="email" formControlName= "email" required>
                            <div class="invalid-feedback">
                              Please choose a username.
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title"  formControlName= "title" required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="businessUnit">Business Unit</label>
                                <input type="text" class="form-control" id="businessUnit"  formControlName= "businessUnit" required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="telephone">Telephone</label>
                                <input type="text" class="form-control" id="telephone"  formControlName= "telephone" required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="address1">Address 1</label>
                                <input type="text" class="form-control" id="address1"  formControlName= "address1" required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="address2">Address 2</label>
                                <input type="text" class="form-control" id="address2" formControlName= "address2"  required>
                                <div class="invalid-feedback">
                                  Please choose a username.
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city"  formControlName= "city" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                              </div>
                        </div>
                        <div class="form-row">

                          <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select" id="state"  formControlName= "state" required>
                              <option selected disabled value="">Choose...</option>
                              <option>Punjab</option>
                              <option>Haryana</option>
                              <option>Himachal Pradesh</option>
                              <option>Uttar Pradesh</option>
                              <option>Rajasthan</option>
                            </select>
                            <div class="invalid-feedback">
                              Please select a valid state.
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip"  formControlName= "zip" required>
                            <div class="invalid-feedback">
                              Please provide a valid zip.
                            </div>
                          </div>

                          <div class="col-md-4 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select" id="country"  formControlName= "country" required>
                                <option selected disabled value="">Choose...</option>
                                <option>India</option>
                                <option>U.S.A</option>
                                <option>China</option>
                                <option>Australia</option>
                                <option>Germany</option>
                            </select>
                            <div class="invalid-feedback">
                              Please provide a valid zip.
                            </div>
                          </div>
                        </div>
                        
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-link">Cancel</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>


