<div class="card  border-dark mb-3">
    <div class="card-header">
      User Login
    </div>
    <div class="container">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
              
            </div>
            
            <div class="bottom">
                <button class="btn btn-primary" type="submit" 
                >Login</button>
                <button class="btn btn-link"><a routerLink="/registration">Sign Up</a></button>
            </div>
            <span class="forgot"><a routerLink="/forgotpassword">Forgot Password?</a></span>

        </form>
    </div>
   
  </div>