.card.border-dark.mb-3{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.bottom .forgot a{
    text-align: right;
    align-items: right;
    margin-left: 300px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}