<h1 >Ticket Confirmation Details</h1>
<p>
 
    requestType: {{ticketData.requestType}} <br>
    priority:    {{ticketData.priority}}    <br>
    travelCity:   {{ticketData.travelCity}}   <br>
    fromCityLocation: {{ticketData.fromCityLocation}} <br>
    travelStartDate : {{ticketData.travelStartDate}}  <br>
    travelEndDate :  {{ticketData.travelEndDate}}   <br>
    passportNo :     {{ticketData.passportNo}}   <br>
    projectName :    {{ticketData.projectName}}  <br>
    expenseBourneBy: {{ticketData.expenseBourneBy}}  <br>
    travelApproverName: {{ticketData.travelApproverName}}  <br>
    expectedDuration :   {{ticketData.expectedDuration}}  <br>
    upperBound:          {{ticketData.upperBound}}        <br>
    additionalDetails :   {{ticketData.additionalDetails}}  <br>
    status:               {{ticketData.status}}            <br>
    dateCreated :         {{ticketData.dateCreated}}      <br>
    lastUpdated :         {{ticketData.lastUpdated}}      <br>
</p>
<button (click)="printPage()">Print</button>  
 <button (click)="homepage()">Go to Homepage</button>