<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="/home" class="navbar-brand">
            Nagarro Travel Portal</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="basicLoginService.isUserLoggedIn()" routerLink="/home/11" class="nav-link">Home</a></li>
            <li><a *ngIf="basicLoginService.isUserLoggedIn()" routerLink= {{url}} class="nav-link">Request Ticket</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!basicLoginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                <li><a *ngIf="basicLoginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>